@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/*
@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/water.css");
*/


:root {
  /*--header-font-family: "Delicious Handrawn", "Arial";*/
  --header-font-family: "Poetsen One", "Arial";
  --header-font-weight: 400;
  --body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --border: #dbdbdb;
  --background: #efefef;
  --background-alt: #f7f7f7;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  background-color: lightpink;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
}

.content-container {
  background-color: rgb(250, 250, 210);
  overflow-y: auto;
  min-height: 100%;
  max-width: 45rem;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
  border-left: solid 1px #808080;
  border-right: solid 1px #808080;
}

.padding-v {
  padding-top: 2em;
  padding-bottom: 2em;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  padding: 0.2em 0.5em;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}


td,
th {
  padding: 6px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

thead {
  border-bottom: 1px solid #dbdbdb;
  border-bottom: 1px solid var(--border);
}


tfoot {
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: #efefef;
  background-color: var(--background);
}

tbody tr:nth-child(even) button {
  background-color: #f7f7f7;
  background-color: var(--background-alt);
}



tbody tr:nth-child(even) button:hover {
  background-color: #fff;
  background-color: var(--background-body);
}
